<li>
    {{burger_name}}
    
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
{{!-- "{{devoured}}">  --}}
        {{#if devoured}}Devour!{{else}}Make it again!{{/if}}
    </button>

    {{!-- future functionality <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>