<li>
    {{burger_name}}
    
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Make it again!{{else}}Devour!{{/if}}
    </button>

    {{!-- future functionality <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>